<ion-header>
  <ion-toolbar>
    <ion-title>
      Pendeteksi Kebisingan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button (click)="startListening()" [disabled]="isListening">Start Listening</ion-button>
    <ion-button (click)="stopListening()" [disabled]="!isListening">Stop Listening</ion-button>
  </div>

  <div class="ion-padding">
    <!-- Canvas untuk grafik -->
    <canvas id="noiseChart" class="csschart"></canvas>
  </div>
</ion-content>
